*{
    margin: 0; 
    padding: 0;
    
}

body {
background-color: white;
margin: 0;
font-family: 'Raleway', sans-serif;
}

#editor-container {
  padding-top: 20px;
  padding-left: 120px;
  padding-right: 120px;
  height: 100vh;
  width: 65vw;

background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ql-editor::before {
   padding-left: 120px;
} 

.sideBar{
  display: flex;
  flex-direction: row;
  margin: 0;
  width: 115px;
  float: left;
}

#sideNav{
  display: block;
  background:lightblue;
  height: 100vh;
  width: 115px;
  z-index: 1;
}
.quireLogo {
  display: flex;
  justify-content: space-around;
}
.quireLogoSvg {
  height: 82px;
}

.sidenavbuttons {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
#helpBtn {
    border: none;
    outline: none;
    background: none;
    font-size: 13px;
    padding: 10px;
    background-color: lightblue; 
     /* width: 115px; */
     padding-right: 45px;
  }
  
  #helpBtn:hover {
    background-color: darkcyan;
  }


 #searchBtn{
    border: none;
    outline: none;
    background: none;
    font-size: 13px;
    padding: 10px;
    background-color: lightblue;
    width: 115px; 
  }

  #searchBtn:hover{
    background-color: darkcyan;
  }

  #printBtn{
    border: none;
    outline: none;
    background: none;
    font-size: 13px;
    padding: 10px;
    background-color: lightblue; 
   /* width: 115px; */
   padding-right: 45px;
  }
  
  #printBtn:hover{
    background-color: darkcyan;  
  }

  .favActive {
    background-color: darkcyan !important;
  }

  .starActive{
    background-color: gold !important;
  }
    
  #favouriteBtn {
    border: none;
    outline: none;
    background: none;
    font-size: 13px;
    padding: 10px;
    background-color: lightblue; 
    width: 115px; 
  }

  #favouriteBtn:hover{
    background-color: darkcyan;
  }

  #deletedBtn {
    border: none;
    outline: none;
    background: none;
    font-size: 13px;
    padding: 10px;
    padding-right: 25px;
    background-color: lightblue; 
    width: 115px; 
  }

  #deletedBtn:hover{
    background-color: darkcyan;
  }

.noteSection {
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  margin-left: 115px;
  height: 100vh;
} 

#innerSideBar{
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  height: 100vh;
  width: 250px;
  /* overflow: hidden; */
  border: 1px solid rgb(235, 229, 212);
  /* margin-top: 44px; */
  overflow-y: scroll;

  /* From uiGradients */
  background: #ED4264;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFEDBC, #ED4264);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFEDBC, #ED4264); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.note {
  flex-shrink: 0;
  color: black;
  display: block;
  height: 100px;
  background-color: whitesmoke;
  border: 1px solid rgb(235, 229, 212);
  overflow: hidden;
  /* display: flex;
  flex-direction: row-reverse; */
  /* flex-wrap: wrap; */
  user-select: none;
  transition: background-color 100ms linear;
}

.searchNotes {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 252px;
}

#searchInput{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 150px;
  height: 26px;
  border-radius: 5px;
  /* position: absolute; */
  margin-left: 17px;
  margin-top: 8px;
  padding-left: 15px;
  padding-right: 6px;
  border: 1px solid rgb(107, 107, 107); 
  font-size: 12px;
  outline: none;
}

.addNote {
  border: none;
  position: relative; 
  height: 23px;
  margin-top: 7px;
  margin-left: 17px;
  outline: none;
  background-color: whitesmoke;
}
.addNoteSvg {
  height: 23px;
  transition: filter 0.07s ease-in-out;
  
}
.addNoteSvg:active {
  
  filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
}

#showHideBtn{
  position: absolute;
  border: none;
  outline: none;
  background: none;
  font-size: 40px;
  z-index: 3; /* temporär för att visa hamburgaren vid datorskärm */
}

#showHideBtn::after{
  border: none;
  outline: none;
  background: none;
  font-size: 40px;
  background: red;
}

/* .show{
    display: block;
    border: none;
    padding: none;
} */

/* h1{
    margin-top: 5px;
    width: 100vh;
} */

 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    /* z-index: 1; Sit on top */
    padding-top: 100px; /* Location of the box */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4);
  }
  /* Modal Content i själva lådan andra diven  */
  .info-text {
    color: black;
    text-align: center;
    background-color: whitesmoke;
    margin: auto;
    border: 2px solid black;
    height: 50vh;
    width: 50vw;
    position: relative;
    padding-top: 50px;
    border-radius: 10px;    
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .tox .tox-notification {
    display: none !important; 
  }
  .tox .tox-notification--in{
    opacity: 0 !important;
    display: none !important;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /* .circle{
    position: absolute;
    top: 80vh;
    right: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey; 
    height: 110px;
    width: 110px;
    border-radius: 50%;
    outline: none;
  } */
  
  /* #newNoteBtn {
    height: 50px;
    width: 50px;
    border: none;
  } */
  
  /* .circle:hover {
    background-color: whitesmoke;
    cursor: pointer;
  } */


  .delete-button {
    border: none;
    float: right;
    z-index: 1;
  }

  .pDate{
  /* text-decoration: underline; */
  /* font-weight: 100; */
  font-size: 13px;
  opacity: 0.5;
  /* position: relative;  */
  width: 200px;
  /* height: 20px; */
  color: black;
  order: 2; /* funkar ej */
  margin-bottom: 0px;
  padding: 2px 1px 1px 10px;
  /* z-index: 1; */
  }

  .noteTitle {
    width: 220px;
    height: 20px;
    padding: 5px 0px 0px 10px;
    font-size: 17px;
    font-weight: bold;
    overflow: hidden;
  }
  .notePreview {
    width: 200px;
    height: 50px;
    padding: 3px 0px 0px 16px;
    font-size: 14px;
    opacity: 0.6;
    line-height: 1.2;
    overflow: hidden;
  }

/* .heartImage { 
  height: 22px;
} */

/* .favouriteButton {
  position: absolute;
  border: none;
  background-color: whitesmoke;
}
 */
  @media print {
    @page { margin: 0; }
    body { margin: 1.6cm; }
  }

@media only screen and (max-width: 764) {
 #showHideBtn {
   display: inline-block;
 }
}

.backgroundBlur > *:not(#myModal) { /* selecting whole document except #myModal */
  filter: blur(3px);
  transition: 0.3s ease;
}
.icons {
  height: 15px;
  
}

