* {
    margin: 0; 
    padding: 0;
}

/* body,html{
  overflow:hidden
} */

body {
background-color: white;
margin: 0;
font-family: 'Raleway', sans-serif;
}

.sideBar{
  display: flex;
  flex-direction: row;
  margin: 0;
  width: 100px;
  float: left;
}

#sideNav{
  display: none;
  position: fixed;
  background: red;
  top: 70px;
  width: 20vh;
  height: 100vh;
  box-sizing: border-box;
  z-index: 1;
}

.noteSection {
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
} 

#innerSideBar{
  background-color: whitesmoke;
  height: 90vh;
  width: 230px;
  overflow: hidden;
  border: 1px solid rgb(235, 229, 212);
  margin-top: 40px;
}

.note {
  color: black;
  display: block;
  height: 88px;
  background-color: whitesmoke;
  border: 1px solid rgb(235, 229, 212);
  overflow: hidden;
}

.newNote:hover{
  background-color: white;

}

#searchInput{
  width: 15%; 
  position: absolute;
  top: 10px;
}




#showHideBtn{
  border: none;
  outline: none;
  background: none;
  font-size: 40px;
}

#showHideBtn::after{
  border: none;
  outline: none;
  background: none;
  font-size: 40px;
  background: red;
}

.show{
    display: block;
    border: none;
    padding: none;
}

h1{
    margin-top: 5px;
    width: 100vh;
}

#editor-container {
  height: 90vh;
  width: 70vw;
}

 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    /* z-index: 1; */ /* Sit on top */
    padding-top: 100px; /* Location of the box */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4);
  
  }
  /* Modal Content i själva lådan andra diven  */
  .info-text {
    color: black;
    text-align: center;
    background-color: whitesmoke;
    margin: auto;
    border: 2px solid black;
    height: 50vh;
    width: 50vw;
    position: relative;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .tox .tox-notification {
    display: none !important; 
  }
  .tox .tox-notification--in{
    opacity: 0 !important;
    display: none !important;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  #helpBtn {
    border: none;
    outline: none;
    background: none;
    font-size: 20px;
    padding: 10px;
  }
  
  #helpBtn:hover {
    color: white;
    font-size: 20px;
  }

  #searchBtn{
    border: none;
    outline: none;
    background: none;
    font-size: 20px;
    padding: 10px;
  }

  #searchBtn:hover{
    color: white;
  }

  #printBtn{
    border: none;
    outline: none;
    background: none;
    font-size: 20px;
    padding: 10px;
  }
  
  #printBtn:hover{
    color: white;
  }

  #favouriteBtn{
    border: none;
    outline: none;
    background: none;
    font-size: 15px;
    padding: 5px;
    color: white;
  }
  
  #favouriteBtn:hover{
    color: steelblue;
  }

  .circle{
    position: absolute;
    top: 80vh;
    right: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey; 
    height: 110px;
    width: 110px;
    border-radius: 50%;
    outline: none;
  }
  
  #newNoteBtn {
    height: 50px;
    width: 50px;
    border: none;
  }
  
  .circle:hover {
    background-color: whitesmoke;
    cursor: pointer;
  }

  .delete-button {
    border: none;
    float: right;
  }

  @media (min-width: 750px) {

  }





